<ion-header>
  <div class="wrapper-fluid-header">
    <div class="logo-wrap personal-head">
      <button class="top-back" (click)="back()"><img src="assets/img/arrow-left.svg" alt=""></button>
      <h2>Мои подписки</h2>
      <div></div>
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="wrapper-fluid">
    <div class="body-wrap podpiski-list">
      <div class="podposki-item">
        <div class="podpiski-item-title">
          Отслеживание груза
          <img src="assets/img/down-row.svg" alt="">
        </div>
      </div>

      <div class="podposki-item">
        <div class="podpiski-item-title">
          Безопасная сделка
          <img src="assets/img/down-row.svg" alt="">
        </div>
      </div>

      <div class="podposki-item">
        <div class="podpiski-item-title">
          Страховка
          <img src="assets/img/down-row.svg" alt="">
        </div>
      </div>

      <div class="podposki-item">
        <div class="podpiski-item-title">
          Промо-коды
          <img src="assets/img/down-row.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="bottom-wrap personal-bottom">
    <button class="reg-btn podpis-buy">Купить</button>
  </div>
</ion-footer>
