<ion-content>
  <div class="wrapper">
    <div class="logo-wrap">
      <!--<button class="top-back" (click)="back()">
        <img src="assets/img/arrow-left.svg" alt="">
      </button>-->
      <img src="assets/img/logo.png" alt="">
    </div>
    <div class="body-wrap form-block">
      <form action="" class="autorize">
        <label for="get-pass">Укажите логин, email или номер телефона,
          указанный при регистрации</label>
        <input id="get-pass" type="text" name="get-pass">
      </form>
    </div>
    <div class="bottom-wrap autorize-btns">
      <button class="classic-btn">Восстановить доступ</button>
    </div>
  </div>
</ion-content>
