<ion-header *ngIf="codeon&&!verify">
  <div class="wrapper-fluid-header">
    <div class="logo-wrap personal-head">
      <button class="top-back" (click)="back()"><img src="assets/img/arrow-left.svg" alt=""></button>
      <h2>Подтверждение номера</h2>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-header *ngIf="verify">
  <div class="wrapper-fluid-header">
    <div class="logo-wrap personal-head">
      <button class="top-back" (click)="back()"><img src="assets/img/arrow-left.svg" alt=""></button>
      <h2>Страница подтверждения</h2>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="body-wrap form-block">
    <ng-container *ngIf="codeon&&!verify">
      <span class="input-mode-code">
        <label for="pass">{{'Введите код, который мы отправили вам на номер ' | translate}} {{prefix}}
          {{phone}}</label>
        <input id="pass" autocomplete="one-time-code" type="tel" name="pass" [(ngModel)]="code">
      </span>
      <span *ngIf="timer > 0" class="resend-sms">{{'Повторная отправка СМС через' | translate}} {{timer}} {{'сек' |
        translate}}.</span>
    </ng-container>

    <ng-container *ngIf="verify">
      <span class="input-mode-code">
        <label for="fullName">{{'ФИО *' | translate}} </label>
        <input id="fullName" type="text" name="fullName" [(ngModel)]="formData.full_name">
      </span>
      <p><b>{{'Фото паспорта с вашим лицом селфи' | translate}}:</b></p>
      <div class="file-uploads">
        <div class="file-group">
          <div class="form-group" (click)="addPassport()">
            <label class="label">
              <span class="title"><span>+</span> </span>
            </label>
          </div>
        </div>
        <div class="file-group">
          <div class="form-group">
            <img
              [src]="formData.selfies_with_passport?file_url+formData.selfies_with_passport:'../../assets/img/passport.png'" />
          </div>
        </div>
      </div>

      <span class="input-mode-code">
        <label for="cardNumber">{{'Банковская карта *' | translate}} </label>
        <input id="cardNumber" type="text" name="cardNumber" [mask]="mask" [(ngModel)]="formData.bank_card">
      </span>

      <span class="input-mode-code">
        <label for="cardName">{{'Название банка выпущенного карты*' | translate}} </label>
        <input id="cardName" type="text" name="cardName" [(ngModel)]="formData.bank_cardname">
      </span>

      <p><b>{{'Фото спереди' | translate}}:</b></p>
      <div class="file-uploads">
        <div class="file-group">
          <div class="form-group" (click)="addPhotoOpposite()">
            <label class="label">
              <span class="title"><span>+</span> </span>
            </label>
          </div>
        </div>
        <div class="file-group">
          <div class="form-group">
            <img
              [src]="formData.transport_front_photo?file_url+formData.transport_front_photo:'../../assets/truck/opposite.png'" />
          </div>
        </div>
      </div>
      <p class="mt-10"><b>{{'Фото сзади' | translate}}:</b></p>
      <div class="file-uploads">
        <div class="file-group">
          <div class="form-group" (click)="addPhotoBack()">
            <label class="label">
              <span class="title"><span>+</span> </span>
            </label>
          </div>
        </div>
        <div class="file-group">
          <div class="form-group">
            <img
              [src]="formData.transport_back_photo?file_url+formData.transport_back_photo:'../../assets/truck/back.png'" />
          </div>
        </div>
      </div>
      <p class="mt-10"><b>{{'Фото сбоку' | translate}}:</b></p>
      <div class="file-uploads">
        <div class="file-group">
          <div class="form-group" (click)="addPhotoLeft()">
            <label class="label">
              <span class="title"><span>+</span> </span>
            </label>
          </div>
        </div>
        <div class="file-group">
          <div class="form-group">
            <img
              [src]="formData.transport_side_photo?file_url+formData.transport_side_photo:'../../assets/truck/right.png'" />
          </div>
        </div>
      </div>
      <p class="mt-10"><b>{{'Фото ADR' | translate}}:</b></p>
      <div class="file-uploads">
        <div class="file-group">
          <div class="form-group" (click)="addPhotoAdr()">
            <label class="label">
              <span class="title"><span>+</span> </span>
            </label>
          </div>
        </div>
        <div class="file-group">
          <div class="form-group" *ngIf="formData.adr_photo">
            <img [src]="formData.adr_photo" />
          </div>
        </div>
      </div>
      <p class="mt-10"><b>{{'Водительское удостоверение' | translate}}:</b></p>
      <div class="file-uploads">
        <div class="file-group">
          <div class="form-group" (click)="addPhotoLicence()">
            <label class="label">
              <span class="title"><span>+</span> </span>
            </label>
          </div>
        </div>
        <div class="file-group">
          <div class="form-group" *ngIf="formData.driver_license">
            <img [src]="formData.driver_license" />
          </div>
        </div>
      </div>
      <p class="mt-10"><b>{{'Страна регистрации транспорта' | translate}}:</b></p>
      <ion-select placeholder="Страна регистрации транспорта" class="custom-input"
        [(ngModel)]="formData.transport_registration_country">
        <ion-select-option value="Ўзбекистон">Ўзбекистон </ion-select-option>
        <ion-select-option value="Казахстан">Казахстан</ion-select-option>
        <ion-select-option value="Таджикистан">Таджикистан</ion-select-option>
        <ion-select-option value="Киргизистон">Киргизистон</ion-select-option>
      </ion-select>
      <p class="mt-10" *ngIf="tech_passport_files.length<=1"><b>{{'Фото лицензия на грузоперевозку' | translate}}</b></p>
      <div class="file-uploads">
        <div class="file-group" *ngFor="let row of license_files;let i=index">
          <div class="del-button">
            <ion-icon name="trash-bin-outline"></ion-icon>
          </div>
          <div class="form-group">
            <img [src]="file_url+row.filename" alt="">
          </div>
        </div>
        <div class="file-group">
          <div class="form-group" (click)="addFilesLicense()">
            <label class="label">
              <span class="title"><span>+</span> </span>
            </label>
          </div>
        </div>
      </div>
      <p class="mt-10" *ngIf="tech_passport_files.length<=1"><b>{{'Фото тех паспорта' | translate}}</b></p>
      <div class="file-uploads" *ngIf="tech_passport_files.length<=1">
        <div class="file-group" *ngFor="let row of tech_passport_files;let i=index">
          <div class="del-button">
            <ion-icon name="trash-bin-outline"></ion-icon>
          </div>
          <div class="form-group">
            <img [src]="file_url+row.filename" alt="">
          </div>
        </div>
        <div class="file-group">
          <div class="form-group" (click)="addFilesCarPhoto()">
            <label class="label">
              <span class="title"><span>+</span> </span>
            </label>
          </div>
        </div>
      </div>
      <p class="mt-10"  *ngIf="!this.authService.mytruck[0].state_number"><b>{{'Гос. номер Тягача' | translate}}</b></p>
      <input type="text" name="name" *ngIf="!this.authService.mytruck[0].state_number"
        (click)="authService.alert('Ошибка','Запрещено редактировать Гос. номер Тягача в существующем транспорте. Вы можете добавить новый транспорт')"
        placeholder="Гос. номер Тягача" [(ngModel)]="formData.state_registration_truckNumber">
    </ng-container>
  </div>
  <div class="bottom-wrap autorize-btns" *ngIf="!verify">
    <button class="classic-btn" *ngIf="codeon" (click)="verifyCode()">
      <ng-container *ngIf="!loading">{{'Продолжить' | translate}}</ng-container>
      <ng-container *ngIf="loading"><ion-spinner></ion-spinner></ng-container>
    </button>
    <button class="support-btn" *ngIf="codeon && timer === 0" (click)="verifyCode()">
      <ng-container *ngIf="!loading">{{'Отправить СМС' | translate}}</ng-container>
      <ng-container *ngIf="loading"><ion-spinner></ion-spinner></ng-container>
    </button>
  </div>
  <div class="bottom-wrap autorize-btns" *ngIf="verify">
    <button class="classic-btn" (click)="submit()">
      <ng-container *ngIf="!loadingSubmit" id="present-alert">{{'Отправить на проверку' |
        translate}}</ng-container>
      <ng-container *ngIf="loadingSubmit"><ion-spinner></ion-spinner></ng-container>
    </button>
  </div>
</ion-content>