<ion-content class="ion-no-margin ion-no-padding">
  <div class="wrapper wrapper-center">
    <!--<div class="logo-wrap">
      <button class="top-back" (click)="back()">
        <img src="assets/img/arrow-left.svg" alt="">
      </button>
      <img src="/assets/logos/tirgo-logo.png" alt="">
    </div>-->
    <div class="body-wrap">
      <h1>{{'Добро' | translate}} <br> {{'пожаловать!' | translate}}</h1>
      <p>{{'Организация международных грузоперевозок в пару кликов.' | translate}}</p>
    </div>
    <div class="bottom-wrap">
      <!--<button class="reg-btn" (click)="goToRegistration()">Регистрация</button>-->
      <button class="classic-btn" (click)="goToAuthorization()">{{'Продолжить' | translate}}</button>
    </div>
  </div>
</ion-content>
