<ion-header class="my-custom-header">
  <ion-toolbar>
    <ion-title>{{'Редактировать транспорт' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        {{'Закрыть' | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-fluid ion-padding-tabs">
    <div class="body-wrap form-block">
      <div class="autorize">

        <p><b>{{'Тип прицепа' | translate}}</b></p>
        <input readonly (click)="authService.alert('Ошибка','Запрещено редактировать тип прицепа в существующем транспорте. Вы можете добавить новый транспорт')" type="text" name="name" placeholder="Укажите тип прицепа" [value]="returnNameTypeTransport(type)">

        <p><b>{{'Имя транспорта' | translate}}</b></p>
        <input type="text" name="name" readonly (click)="authService.alert('Ошибка','Запрещено редактировать имя прицепа в существующем транспорте. Вы можете добавить новый транспорт')" placeholder="Укажите название транспорта" [(ngModel)]="name">

        <p><b>{{'Описание' | translate}}</b></p>
        <textarea rows="5" type="text" name="name" placeholder="Описание транспорта" [(ngModel)]="description"></textarea>

        <p><b>{{'Грузоподъемность' | translate}}</b></p>
        <input type="text" name="name" readonly (click)="authService.alert('Ошибка','Запрещено редактировать грузоподъемность в существующем транспорте. Вы можете добавить новый транспорт')" placeholder="Грузоподъемность" [(ngModel)]="maxweight">

        <p><b>{{'Кубатура прицепа' | translate}}</b></p>
        <input type="text" name="name" placeholder="Кубатура прицепа" [(ngModel)]="cubature">

        <p><b>{{'Гос. номер Тягача' | translate}}</b></p>
        <input type="text" name="name" readonly (click)="authService.alert('Ошибка','Запрещено редактировать Гос. номер Тягача в существующем транспорте. Вы можете добавить новый транспорт')" placeholder="Гос. номер Тягача" [(ngModel)]="state_number">

        <div class="data-checkbox">
          <p>{{'ADR' | translate}}</p>
          <label>
            <input class="checkbox" type="checkbox" (change)="setAdrUser($event)" [checked]="adr"/>
            <span class="fake-checkbox"></span> {{'Есть разрешение на перевозку опасных грузов' | translate}}
          </label>
        </div>

        <p><b>{{'Тех паспорт' | translate}}</b></p>
        <div class="file-uploads">
          <div class="file-group"  *ngFor="let row of tech_passport_files" (click)="delFileTechTransport(row.preview.toString())">
            <div class="del-button">
              <ion-icon name="trash-bin-outline"></ion-icon>
            </div>
            <div class="form-group">
              <img [src]="row.preview" alt="">
            </div>
          </div>
          <div class="file-group">
            <div class="form-group" (click)="addFilesTechPassport()">
              <label class="label">
                <span class="title"><span>+</span> <br>{{'Добавить' | translate}} <br> {{'документ' | translate}}</span>
              </label>
            </div>
          </div>
        </div>


        <p><b>{{'Лицензии на перевозку грузов' | translate}}</b></p>
        <div class="file-uploads">
          <div class="file-group" *ngFor="let row of license_files" (click)="delFileLicense(row.preview.toString())">
            <div class="del-button">
              <ion-icon name="trash-bin-outline"></ion-icon>
            </div>
            <div class="form-group">
              <img [src]="row.preview" alt="">
            </div>
          </div>
          <div class="file-group">
            <div class="form-group" (click)="addFilesLicense()">
              <label class="label">
                <span class="title"><span>+</span> <br>{{'Добавить' | translate}} <br> {{'лицензию' | translate}}</span>
              </label>
            </div>
          </div>
        </div>

        <p><b>{{'Фото транспорта' | translate}}</b></p>
        <div class="file-uploads">
          <div class="file-group" *ngFor="let row of car_photos" (click)="delFileCarPhoto(row.preview.toString())">
            <div class="del-button">
              <ion-icon name="trash-bin-outline"></ion-icon>
            </div>
            <div class="form-group">
              <img [src]="row.preview" alt="">
            </div>
          </div>
          <div class="file-group">
            <div class="form-group" (click)="addFilesCarPhoto()">
              <label class="label">
                <span class="title"><span>+</span> <br>{{'Добавить' | translate}} <br> {{'фото' | translate}}</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-wrap personal-bottom">
      <button class="reg-btn" (click)="saveTransport()">{{'Сохранить' | translate}}</button>
    </div>
  </div>
</ion-content>
